<div class="game-wrapper">
  @if (!gameService.isGameOver() && gameService.connectionStatus() === 'MATCHED') {
  <div class="timer-info">
    <span>⏱ {{ gameService.gameTimer() }}s</span>
    <span>💬 {{ gameService.messageCount() }}/10</span>
    <span class="make-guess" (click)="makeGuess()">Make a guess</span>
  </div>
  <div class="chat-area" #scrollContainer>
    @for (msg of gameService.messages(); track msg.timestamp) {
    <div [class]="msg.sender === 'system' ? 'system-msg-row' : 'msg-row ' + (msg.sender === 'me' ? 'me' : 'them')">

      @if (msg.sender === 'opponent') {
      <div class="avatar-container">
        <img [src]="gameService.opponentAvatarUrl()" class="avatar" alt="Bot">
      </div>
      }

      <div class="bubble-wrapper">
        <div class="bubble">
          {{ msg.text }}
          <span class="timestamp">{{ msg.timestamp | date:'shortTime' }}</span>
        </div>
      </div>

      @if (msg.sender === 'me') {
      <div class="avatar-container">
        <img [src]="gameService.myAvatarUrl()" class="avatar" alt="User">
      </div>
      }
    </div>
    }
  </div>


  <div class="input-bar">
    <input class="input-box" #chatInput [(ngModel)]="messageInput" (keyup.enter)="handleSendMessage()"
      (keydown.enter)="$event.preventDefault()" placeholder="Expose the bot...">
    <button class="send-btn" (click)="handleSendMessage()" [disabled]="!messageInput.trim()">Send</button>
  </div>
  }
  @else if (gameService.connectionStatus() !== 'MATCHED') {
  <div class="message-box">
    <p class="main-text">No active game detected.</p>
    <p class="sub-text">Please return to the lobby and start a new interrogation.</p>
    <button class="returnToLobby" (click)="returnToLobby()">RETURN TO LOBBY</button>
  </div>
  }

  @if ((makeGuessClicked() || gameService.isGameOver()) && !gameResult()) {
  <div class="overlay">
    <div class="modal">
      <h2>Interrogation Over</h2>
      <p>Cast your verdict. Who were you talking to?</p>
      @if(!isRevealing()) {
      <div class="btn-group">
        <button class="human" (click)="selectIdentity('Human')">REAL HUMAN</button>
        <button class="bot" (click)="selectIdentity('AI')">AI MODEL</button>
      </div>
      }
      @if(isRevealing()) {
      <p class="revealing">Revealing the truth...</p>
      }

    </div>
  </div>
  }
  @if(gameResult()) {
  <div class="overlay">
    <div class="message-box">
      <h1 [class]="gameResult().isCorrect ? 'success' : 'failure'">
        {{ gameResult().isCorrect ? 'SUCCESS!' : 'FAILED!' }}
      </h1>
      <p>Your opponent was actually:  <strong>{{ gameResult().actualIdentity |uppercase }}</strong>.</p>
      <div class="btn-group">
        <button class="return-btn" (click)="returnToLobby()">RETURN TO LOBBY</button>
      </div>
      
    </div>
  </div>
  }
</div>