<div class="game-wrapper">
  @if (gameService.connectionStatus() === 'MATCHED') {
  <div class="header">
    <span>⏱ {{ gameService.gameTimer() }}s</span>
    <span>💬 {{ gameService.messageCount() }}/10</span>
  </div>
  }

  <div class="chat-area" #scrollContainer>
    @for (msg of gameService.messages(); track msg.timestamp) {
    <div [class]="msg.sender === 'system' ? 'system-msg' : 'msg-row ' + (msg.sender === 'me' ? 'me' : 'them')">
      @if (msg.sender === 'opponent') {
      <img [src]="gameService.opponentAvatarUrl()" class="avatar">
      }

      <div class="bubble">
        {{ msg.text }}
        <small>{{ msg.timestamp | date:'shortTime' }}</small>
      </div>

      @if (msg.sender === 'me') {
      <img [src]="gameService.myAvatarUrl()" class="avatar">
      }
    </div>
    }
  </div>

  @if (!gameService.isGameOver() && gameService.connectionStatus() === 'MATCHED') {
  <div class="input-bar">
    <input #chatInput [(ngModel)]="messageInput" (keyup.enter)="handleSendMessage()" placeholder="Expose the bot...">
    <button (click)="handleSendMessage()" [disabled]="!messageInput.trim()">Send</button>
  </div>
  }
  @else {
    <div class="message-box">
      <p class="main-text">No active game detected.</p>
      <p class="sub-text">Please return to the lobby and start a new interrogation.</p>
      <button (click)="returnToLobby()">RETURN TO LOBBY</button>
    </div>
  }
  @if (gameService.isGameOver() && !gameResult()) {
  <div class="overlay">
    <div class="modal">
      <h2>Interrogation Over</h2>
      <p>Cast your verdict. Who were you talking to?</p>
      @if(!isRevealing()) {
      <div class="btn-group">
        <button class="human" (click)="selectIdentity('Human')">BIOLOGICAL HUMAN</button>
        <button class="bot" (click)="selectIdentity('AI')">AI MODEL</button>
      </div>
      }
      @if(isRevealing()) {
      <p class="revealing">Revealing the truth...</p>
      }
    
    </div>
  </div>
  }
  @if(gameResult()) {
  <div class="overlay">
    <div class="modal result">
      <h1 [class.correct]="gameResult().correct">
        {{ gameResult().correct ? 'SUCCESS!' : 'FAILED!' }}
      </h1>
      <p>The entity was actually a <strong>{{ gameResult().actualRole }}</strong>.</p>
      <button class="primary-btn" (click)="gameService.leaveGame()">RETURN TO LOBBY</button>
    </div>
  </div>
  }
</div>