<div class="chat-container">
  <header class="main-header">
    <div class="brand" >
      <span class="logo-icon">🤖</span>
      <div class="title-group" (click)="handleLeaveAction()">
        <h1>Human Or Bot</h1>
        <div class="status-indicator">
          <span class="dot" [class]="gameService.connectionStatus().toLowerCase()"></span>
          <span class="status-text">{{ gameService.connectionStatus() | titlecase }}</span>
        </div>
      </div>
    </div>

    @if (gameService.connectionStatus() === 'MATCHED') {
      <button class="exit-btn" (click)="handleLeaveAction()">
        END SESSION
      </button>
    }
  </header>

  <!-- Dynamic content goes here -->
  <router-outlet></router-outlet>
</div>