:root {
  /* Default: Dark Theme (Cyberpunk) */
  --bg-gradient: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
  --main-header: linear-gradient(to right, #00f260, #0575e6);
  --header-bg: rgba(255, 255, 255, 0.05);
  --main-green: #00f260;
  --text-main: #ffffff;
  --text-muted: #a0a0a0;
  --bubble-me: #007bff;
  --bubble-me-text: #ffffff;
  --bubble-other: rgba(255, 255, 255, 0.1);
  --bubble-other-text: #eeeeee;
  --input-bg: #1a1a2e;
  --input-border: rgba(255, 255, 255, 0.1);
  --positive-green: #138a19;
  --negative-red: #d62d3b;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-gradient: linear-gradient(135deg, #b7b8f4 0%, #c8f8da 100%);
    --main-header: linear-gradient(to right, #069341, #1345a2);
    --main-green: #017b34;
    --header-bg: #055054;
    --text-main: #1e1a1a;
    --text-muted: #757474;
    --bubble-me: #d9fdd3;
    --bubble-me-text: #111b21;
    --bubble-other: #ffffff;
    --bubble-other-text: #111b21;
    --input-bg: #ffffff;
    --input-border: #ddd;
    --positive-green: #0f7014;
    --negative-red: #f93e4d;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; // Prevents accidental "bounce" scrolling on mobile
  background-color: #1a1a2e; // Matches your theme so there's no "white flash"

}

// 2. Ensure the Angular root tag fills the screen
app-root {
  display: block;
  height: 100%;
  width: 100%;
  padding-top: env(safe-area-inset-top, 20px);
  padding-bottom: env(safe-area-inset-bottom, 20px);
  padding-left: env(safe-area-inset-left, 0px);
  padding-right: env(safe-area-inset-right, 0px);



}